<div class="pet-type-form">

    {% set form = active_form_begin() %}

    {{ form.field(model, 'name_uk').textInput({maxlength: true}) }}
    {{ form.field(model, 'name_en').textInput({maxlength: true}) }}
    {{ form.field(model, 'name_ru').textInput({maxlength: true}) }}
    {{ form.field(model, 'created_at').textInput() }}
    {{ form.field(model, 'updated_at').textInput() }}

    <div class="form-group">
        <button type="submit" class="btn btn-success">
            {{ 'Save'|t('app') }}
        </button>
    </div>

    {{ active_form_end() }}

</div>
